.DS_Store
._*
Static/themes/SimpleThemeDark/._*
Static/themes/SimpleThemeDark/icons/._*
Static/kexts/Other/ACPIBatteryManager.kext/._*
Static/kexts/Other/ACPIBatteryManager.kext/Contents/._*
Static/kexts/Other/ACPIBatteryManager.kext/Contents/MacOS/._*
Static/kexts/Other/FakePCIID.kext/._*
Static/kexts/Other/FakePCIID.kext/Contents/._*
Static/kexts/Other/FakePCIID.kext/Contents/MacOS/._*
Static/kexts/Other/FakeSMC.kext/Contents/._*
Static/kexts/Other/KongKe.kext/Contents/._*
Static/kexts/Other/Lilu.kext/Contents/._*
Static/kexts/Other/Shiki.kext/._*
Static/kexts/Other/Shiki.kext/Contents/._*
Static/kexts/Other/Shiki.kext/Contents/MacOS/._*
hotpatch/themes/SimpleThemeDark/._*
hotpatch/themes/SimpleThemeDark/icons/._*
hotpatch/kexts/Other/ACPIBatteryManager.kext/._*
hotpatch/kexts/Other/ACPIBatteryManager.kext/Contents/._*
hotpatch/kexts/Other/ACPIBatteryManager.kext/Contents/MacOS/._*
hotpatch/kexts/Other/FakePCIID.kext/._*
hotpatch/kexts/Other/FakePCIID.kext/Contents/._*
hotpatch/kexts/Other/FakePCIID.kext/Contents/MacOS/._*
hotpatch/kexts/Other/FakeSMC.kext/Contents/._*
hotpatch/kexts/Other/KongKe.kext/Contents/._*
hotpatch/kexts/Other/Lilu.kext/Contents/._*
hotpatch/kexts/Other/Shiki.kext/._*
hotpatch/kexts/Other/Shiki.kext/Contents/._*
hotpatch/kexts/Other/Shiki.kext/Contents/MacOS/._*
