.DS_Store
._*
Static/themes/SimpleThemeDark/.*
Static/themes/SimpleThemeDark/icons/.*
Static/kexts/Other/ACPIBatteryManager.kext/.*
Static/kexts/Other/ACPIBatteryManager.kext/Contents/.*
Static/kexts/Other/ACPIBatteryManager.kext/Contents/MacOS/.*
Static/kexts/Other/FakePCIID.kext/.*
Static/kexts/Other/FakePCIID.kext/Contents/.*
Static/kexts/Other/FakePCIID.kext/Contents/MacOS/.*
Static/kexts/Other/FakeSMC.kext/Contents/.*
Static/kexts/Other/KongKe.kext/Contents/.*
Static/kexts/Other/Lilu.kext/Contents/.*
Static/kexts/Other/Shiki.kext/.*
Static/kexts/Other/Shiki.kext/Contents/.*
Static/kexts/Other/Shiki.kext/Contents/MacOS/.*
hotpatch/themes/SimpleThemeDark/.*
hotpatch/themes/SimpleThemeDark/icons/.*
hotpatch/kexts/Other/ACPIBatteryManager.kext/.*
hotpatch/kexts/Other/ACPIBatteryManager.kext/Contents/.*
hotpatch/kexts/Other/ACPIBatteryManager.kext/Contents/MacOS/.*
hotpatch/kexts/Other/FakePCIID.kext/.*
hotpatch/kexts/Other/FakePCIID.kext/Contents/.*
hotpatch/kexts/Other/FakePCIID.kext/Contents/MacOS/.*
hotpatch/kexts/Other/FakeSMC.kext/Contents/.*
hotpatch/kexts/Other/KongKe.kext/Contents/.*
hotpatch/kexts/Other/Lilu.kext/Contents/.*
hotpatch/kexts/Other/Shiki.kext/.*
hotpatch/kexts/Other/Shiki.kext/Contents/.*
hotpatch/kexts/Other/Shiki.kext/Contents/MacOS/.*
