<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>FixHeaders</key>
				<true/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0RTTQ==
					</data>
					<key>Replace</key>
					<data>
					WERTTQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change GFX0 to IGPU, optionally pair with SSDT-IGPU.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0ZYMA==
					</data>
					<key>Replace</key>
					<data>
					SUdQVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change B0D3 to HDAU, optionally pair with SSDT-HDAU.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QjBEMw==
					</data>
					<key>Replace</key>
					<data>
					SERBVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change SAT0 to SATA, optionally pair with SSDT-SATA.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U0FUMA==
					</data>
					<key>Replace</key>
					<data>
					U0FUQQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_PTS,1,N) to ZPTS, pair with SSDT-PTSWAK.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1BUUwE=
					</data>
					<key>Replace</key>
					<data>
					WlBUUwE=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_PTS,1,S) to ZPTS, pair with SSDT-PTSWAK.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1BUUwk=
					</data>
					<key>Replace</key>
					<data>
					WlBUUwk=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_WAK,1,N) to ZWAK, pair with SSDT-PTSWAK.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1dBSwE=
					</data>
					<key>Replace</key>
					<data>
					WldBSwE=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_WAK,1,S) to ZWAK, pair with SSDT-PTSWAK.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1dBSwk=
					</data>
					<key>Replace</key>
					<data>
					WldBSwk=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>FBST-&gt;XBST</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RkJTVAQ=
					</data>
					<key>Replace</key>
					<data>
					WEJTVAQ=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_BIX-&gt;XBIX</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0JJWAA=
					</data>
					<key>Replace</key>
					<data>
					WEJJWAA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>BIFA-&gt;XIFA</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QklGQQA=
					</data>
					<key>Replace</key>
					<data>
					WElGQQA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>SMBR-&gt;XMBR</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U01CUgs=
					</data>
					<key>Replace</key>
					<data>
					WE1CUgs=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>SMBW-&gt;XMBW</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U01CVw0=
					</data>
					<key>Replace</key>
					<data>
					WE1CVw0=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>ECSB-&gt;XCSB</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUNTQgc=
					</data>
					<key>Replace</key>
					<data>
					WENTQgc=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>TACH-&gt;XACH</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					VEFDSAk=
					</data>
					<key>Replace</key>
					<data>
					WEFDSAk=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>RDBA-&gt;XDBA</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					UkRCQQ==
					</data>
					<key>Replace</key>
					<data>
					WERCQQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>WRBA-&gt;XRBA</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					V1JCQQ==
					</data>
					<key>Replace</key>
					<data>
					WFJCQQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>RDBB-&gt;XDBB</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					UkRCQg==
					</data>
					<key>Replace</key>
					<data>
					WERCQg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>WRBB-&gt;XRBB</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					V1JCQg==
					</data>
					<key>Replace</key>
					<data>
					WFJCQg==
					</data>
				</dict>
			</array>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>APLF</key>
				<false/>
				<key>APSN</key>
				<false/>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
				<key>PluginType</key>
				<true/>
			</dict>
		</dict>
		<key>SortedOrder</key>
		<array>
			<string>SSDT-BATT.aml</string>
			<string>SSDT-Config.aml</string>
			<string>SSDT-IGPU.aml</string>
			<string>SSDT-PNLF.aml</string>
			<string>SSDT-HDEF.aml</string>
			<string>SSDT-Disable_DGPU.aml</string>
			<string>SSDT-SMBUS.aml</string>
			<string>SSDT-SATA.aml</string>
			<string>SSDT-PTSWAK.aml</string>
			<string>SSDT-PluginType1.aml</string>
		</array>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>-lilubetaall abm_firstpolldelay=12000 -ath9565</string>
		<key>DefaultVolume</key>
		<string>Macintosh HD</string>
		<key>Fast</key>
		<true/>
		<key>NeverHibernate</key>
		<true/>
		<key>NoEarlyProgress</key>
		<true/>
		<key>Secure</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>SetIntelBacklight</key>
		<true/>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<true/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>Ignore</key>
					<false/>
					<key>Title</key>
					<string>Windows</string>
					<key>Type</key>
					<string>Windows</string>
				</dict>
			</array>
		</dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
			<string>Recovery</string>
		</array>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
			<key>Tool</key>
			<false/>
		</dict>
		<key>Theme</key>
		<string>SimpleThemeDark</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>KernelLapic</key>
		<false/>
		<key>KernelPm</key>
		<true/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>08/08/2017</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBA61.88Z.0103.B00.1708080653</string>
		<key>Board-ID</key>
		<string>Mac-35C1E88140C3E6CF</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02446270OPDJWPCB</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>Air-Enclosure</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x0A</string>
		<key>Family</key>
		<string>MacBook Air</string>
		<key>FirmwareFeatures</key>
		<string>0xE00FE137</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>PlatformFeature</key>
		<string>0xFFFF</string>
		<key>ProductName</key>
		<string>MacBookAir6,1</string>
		<key>SerialNumber</key>
		<string>C02NQ4GUF5NT</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
</dict>
</plist>
