<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>FixHPET</key>
				<true/>
				<key>FixIPIC</key>
				<true/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>B0D3 to HDAU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QjBEMw==
					</data>
					<key>Replace</key>
					<data>
					SERBVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>SAT0 to SATA</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U0FUMA==
					</data>
					<key>Replace</key>
					<data>
					U0FUQQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>LPC to LPCB</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					TFBDXw==
					</data>
					<key>Replace</key>
					<data>
					TFBDQg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>EUSB to EH01</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RVVTQg==
					</data>
					<key>Replace</key>
					<data>
					RUgwMQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>EH02 to EHC2</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUgwMg==
					</data>
					<key>Replace</key>
					<data>
					RUhDMg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>EH01 to EHC1</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUgwMQ==
					</data>
					<key>Replace</key>
					<data>
					RUhDMQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>FBST-&gt;XBST</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RkJTVAQ=
					</data>
					<key>Replace</key>
					<data>
					WEJTVAQ=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_BIX-&gt;XBIX</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0JJWAA=
					</data>
					<key>Replace</key>
					<data>
					WEJJWAA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>BIFA-&gt;XIFA</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QklGQQA=
					</data>
					<key>Replace</key>
					<data>
					WElGQQA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>SMBR-&gt;XMBR</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U01CUgs=
					</data>
					<key>Replace</key>
					<data>
					WE1CUgs=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>SMBW-&gt;XMBW</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U01CVw0=
					</data>
					<key>Replace</key>
					<data>
					WE1CVw0=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>ECSB-&gt;XCSB</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUNTQgc=
					</data>
					<key>Replace</key>
					<data>
					WENTQgc=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>TACH-&gt;XACH</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					VEFDSAk=
					</data>
					<key>Replace</key>
					<data>
					WEFDSAk=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>RDBA-&gt;XDBA</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					UkRCQQ==
					</data>
					<key>Replace</key>
					<data>
					WERCQQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>WRBA-&gt;XRBA</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					V1JCQQ==
					</data>
					<key>Replace</key>
					<data>
					WFJCQQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>RDBB-&gt;XDBB</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					UkRCQg==
					</data>
					<key>Replace</key>
					<data>
					WERCQg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>WRBB-&gt;XRBB</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					V1JCQg==
					</data>
					<key>Replace</key>
					<data>
					WFJCQg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q0E to XQ0E</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1EwRQ==
					</data>
					<key>Replace</key>
					<data>
					WFEwRQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q0F to XQ0F</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1EwRg==
					</data>
					<key>Replace</key>
					<data>
					X1EwRg==
					</data>
				</dict>
			</array>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>MCFG</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<true/>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
				<key>PluginType</key>
				<true/>
			</dict>
			<key>NoOemTableId</key>
			<false/>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>-lilubetaall -ath9565 abm_firstpolldelay=13000 -no_compat_check</string>
		<key>DefaultVolume</key>
		<string>Macintosh HD</string>
		<key>NeverHibernate</key>
		<true/>
		<key>NoEarlyProgress</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>3</integer>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1c,0x2)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>PCI Express 3.0</string>
				<key>built-in</key>
				<integer>1</integer>
				<key>device-id</key>
				<string>0x8168</string>
				<key>device_type</key>
				<string>Ethernet Controller</string>
				<key>model</key>
				<string>Realtek RTL8168/8111/8112 Gigabit Ethernet Controller/Asus</string>
				<key>name</key>
				<string>Realtek Ethernet Controller</string>
				<key>vendor-id</key>
				<string>0x10EC</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1c,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>PCI Express 3.0</string>
				<key>built-in</key>
				<integer>1</integer>
				<key>device-id</key>
				<string>0x0036</string>
				<key>device_type</key>
				<string>AirPort Extreme</string>
				<key>model</key>
				<string>Atheros 9565 802.11 b/g/n Wireless Network Adapter</string>
				<key>name</key>
				<string>Atheros 9565</string>
				<key>subsystem-id</key>
				<string>0x0662</string>
				<key>subsystem-vendor-id</key>
				<string>0x11ad</string>
				<key>vendor-id</key>
				<string>0x168c</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>
				BgAmCg==
				</data>
				<key>AAPL,slot-name</key>
				<string>PCI Express 3.0</string>
				<key>enable-hdmi20</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-con1-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-con2-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-con2-type</key>
				<data>
				AAgAAA==
				</data>
				<key>framebuffer-patch-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-unifiedmem</key>
				<data>
				AAAAgA==
				</data>
				<key>hda-gfx</key>
				<string>onboard-1</string>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<true/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
			<string>Recovery</string>
		</array>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
			<key>Tool</key>
			<false/>
		</dict>
		<key>Theme</key>
		<string>SimpleThemeDark</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>KernelLapic</key>
		<false/>
		<key>KernelPm</key>
		<true/>
		<key>PanicNoKextDump</key>
		<true/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>07/24/2019</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP111.88Z.F000.B00.1907241312</string>
		<key>Board-ID</key>
		<string>Mac-189A3D4F975D5FFC</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C17524270CDFH31AD</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x0A</string>
		<key>EfiVersion</key>
		<string>157.0.0.0.0</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>FirmwareFeatures</key>
		<string>0xE80FE137</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>PlatformFeature</key>
		<string>0x02</string>
		<key>ProductName</key>
		<string>MacBookPro11,1</string>
		<key>SerialNumber</key>
		<string>C17PV02BFH00</string>
		<key>SmUUID</key>
		<string>C549DE62-2749-4CDA-9894-488FB5EF6480</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
</dict>
</plist>
